<%- include('navbar') %>
<style>
    /* Homepage Header */
    .homepage-header {
        background-image: url("/hotels/<%= showDetail.img %>");
        background-size: cover;
        background-position: center;
        color: #fff;
        text-align: center;
        padding: 210px 0; /* ลด padding ลงเนื่องจากเนื้อหาใน header มีน้อยลง */
    }

    /* Hotel Details */
    .hotel-details {
        padding: 50px 0;
        text-align: center;
    }

    .room-description img {
        width: 100%; /* ปรับขนาดรูปให้เต็มความกว้างของคอลัมน์ */
        border-radius: 5px;
    }

    .card {
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .card-body {
        padding: 20px;
    }

    .room-link {
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
        color: #333; /* เปลี่ยนสีข้อความลิงค์เป็นสีเข้ม */
    }

    .rating {
        margin-top: 10px;
    }

    .stars {
        margin-bottom: 10px;
    }

    .star {
        font-size: 22px;
        cursor: pointer;
        margin-right: 5px;
        color: orange;
    }

</style>

<header class="homepage-header"></header>

<!-- Hotel Detail Page -->
<section class="hotel-details">
    <% if(checkTypeUser == "customer" ) { %>
        <a href="/addRoom/hotel/<%= showDetail.id%>" class="btn btn-primary btn-lg mb-4"><i class="fa fa-plus"></i> Add Room</a>
    <% } %>
    <div class="container">
        <div class="hotel-info">
            <h2><%= showDetail.name %></h2>
            <p><%= showDetail.address %></p>
        </div>
    </div>
</section>

<div class="container">
    <div class="row justify-content-center">
        <% showDetail.rooms.forEach((room) => { %>
        <div class="col-lg-4 col-md-6"> <!-- ส่วนแรก -->
            <div class="room-description">
                <div class="card">
                    <a href="#"><img src="/rooms/<%= room.img%>" alt="Hotel Image" /></a>
                    <div class="card-body">
                        <a href="#" class="room-link"><%= room.type %></a>
                        <p><%= room.description %></p>
                        <p>เข้าพักได้สูงสุด : <%= room.size %> คน</i></p>
                        <p>ราคา : <%= room.price %> THB / DAY</p>
                        <div class="rating">
                            <div class="stars">
                                <label for="rating">Rate this room:</label>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                            </div>
                            <button class="btn btn-primary mb-2" onclick="openPopup('<%= room.id %>')">ดูข้อมูลเพิ่มเติม</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>


<% showDetail.rooms.forEach((room) => { %>
<div id="popup-<%= room.id %>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="popupLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="popupLabel"><%= showDetail.name %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="/rooms/<%= room.img %>" class="img-fluid mb-3" alt="Room Image" style="width:100%; height: 300px;">
                <div>
                    <h1 class="text-center"><%= room.type %></h1>
                    <hr>
                    <h4>รายละเอียดห้องพัก</h4>
                    <h6>เข้าพักได้สูงสุด : <%= room.size %> คน</h6>
                    <h6>ราคา : <%= room.price %> THB / DAY</h6>

                    <h5>สิ่งอำนวยความสะดวก : </h5>
                    <ul>
                        <% room.facilities.split(',').forEach((facility) => { %>
                            <li><%= facility.trim() %></li>
                        <% }) %>
                    </ul>

                </div>
            </div>
            <div class="modal-footer">
                <a type="button" href="/booking/hotel/<%= showDetail.id%>/room/<%= room.id %>"
                    class="btn btn-primary">จองห้องพัก</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div>
<% }) %>

<script>
    function openPopup(roomId) {
        $('#popup-' + roomId).modal('show');
    }

    function bookRoom(roomId) {
        // รายละเอียดสำหรับการจองห้อง
    }
</script>

<%- include('footer') %>
