<%- include('navbar') %>

<style>

    .card {
        height: 100%; 
        border: 1px solid #e0e0e0;
        border-radius: 20px;
        transition: transform 0.2s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }
    
    .card img {
        width: 100%;
        height: 300;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .card:hover {
        transform: translateY(-5px);
    }

    .card-title {
        font-size: 24px;
        color: #333;
    }

    .card-text {
        color: #666;
    }


    .search-container {
        display: flex;
        justify-content: center; 
        align-items: center; 
        margin-top: 20px;
    }

    .search-container form {
        display: flex;
        align-items: center;
    }

    .search-container input[type=text] {
        padding: 10px 115px 10px 20px;
        font-size: 17px;
        border: 1px solid #ccc;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        width: 100%;
    }

    .search-container button {
        padding: 10px 20px;
        background: #007bff;
        font-size: 27px;
        border: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
        color: white;
    }

    .search-container button:hover {
        background: #0056b3;
    }

    .search-container a {
        margin-left: auto; /* ให้ลิงก์ชิดขวาโดยเลื่อนไปทางขวามากที่สุด */
        padding: 10px 20px; /* ปรับขนาดของลิงก์ */
    }

</style>

<div class="setPageHotel">
        <a href="/addHotel"><i class="fa fa-plus"></i> Add Hotel</a>
</div>


<div class="container">

    <div class="container my-2">
        <% if(message.length > 0 ) { %>
          <div class="alert alert-success text-center" id="custom-message">
            <strong><%= message %></strong>
          </div>
        <% } %>
      </div>

      
    <div class="row mt-5">
            <% showHotel.forEach((hotel) => { %> 
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <img src="/hotels/<%= hotel.img %>" alt="Hotel Image" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title text-center"><%= hotel.name %></h5>
                            <p class="card-text text-start">Address: <%= hotel.address %></p>
                        </div>
                        <div class="card-footer">
                            <a href="/hotel/<%= hotel.id %>" class="btn btn-primary">ดูเพิ่มเติม</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        
        
    </div>
</div>

<%- include('footer') %>

<script>
    setTimeout(function() {
        const message = document.getElementById('custom-message');
        message.style.display = 'none';
    }, 4000);
</script>